body{
    background:#f1f3f6;
    color:#666666;
}

.dashboard {
    padding: 0 30px 30px;
}

/* CUSTOM BOOTSTRAP CLASSES */
.panel {
    border:1px solid #e4e5e7;
    border-radius:0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel .panel-heading {
    background-color:#ffffff;
    border:none;
    padding:15px 15px 0 15px;
}

.panel .panel-heading.colored {
    font-size:12px;
    background-color:#f7f9fa;
    border: 0;
    border-bottom: 1px solid #e4e5e7;
    padding: 15px;
}

.lead {
    color:#777;
    text-transform:uppercase;
    font-size:15px;
    font-weight:500;
}

.list-group-item {
    border:1px solid #e4e5e7;
}

.list-group-item-heading {
    font-size:14px;
}

/*
 * Top bar
 */
.top-bar {
    font-size: 9pt;
    padding-left: 5px;
    padding-right: 5px;
}

.top-bar ul li.text > span {
    display: inline-block;
    font-weight: bold;
    padding-top: 16px;
}

.top-bar ul li.text {
    margin-right: 15px;
}